body {
  font-family: Arial;
  background-color: #f4f4f4;

  background-image: url("img/cafe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.header {
  grid-column: 1/-1;
  text-align: center;
  color: white;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
}

.tabla {
  display: flex;
  justify-content: center;
}

.menu {
  width: 60%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.2);
}

.menu th {
  background-color: rgba(21, 10, 4, 0.7);
  color: rgb(184, 68, 10);
  padding: 20px;
}

.menu td {
  padding: 20px;
  border-bottom: 1px solid rgba(69, 68, 68, 0.5);
}

.menu tr:hover {
  background-color: #f2f2f2;
}

.footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
